<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IceCream Entry Form</title>
</head>
<body>
<h1>IceCream Entry</h1>
<form th:object="${iceCream}" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}">
    <input type="hidden" id="id" th:field="*{id}">
    <br><br>
    <label for="color">Color</label>
    <input type="text" id="color" th:field="*{color}">
    <br><br>
    <label for="price">Price</label>
    <input type="text" id="price" th:field="*{price}">
    <br><br>
    <label for="supplier">Supplier</label>
    <select id="supplier" th:field="*{supplier.id}">
        <option th:each="supplier : ${supplierList}" th:value="${supplier.id}" th:text="${supplier.name}"></option>
    </select>
    <br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>